*{ margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
img { max-width: 100%; height: auto; }
ul, ol{ list-style: none; }
a{ text-decoration: none; color: #3454fb; }
body{
	font-family: Quattrocento, verdana, arial, sans-serif;
	font-size: 13px;
	background: #fff;
	color: #101010;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}
.codertrust-sidebar{
	position: fixed;
	width: 250px;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background: #0bdead!important;
	padding: 30px 20px;
}
#logo {
	margin-bottom: 30px;
	max-height: 50px;
	text-align: center;
}
#logo img {
	max-height: 50px;
}
.codertrust-nav {
	margin: 0 -20px 0 -20px;
	height: 75%;
	overflow: auto;
}
.codertrust-nav::-webkit-scrollbar{
	width:5px;
	background:#848484
}
.codertrust-nav::-webkit-scrollbar-thumb{
	background-color:#101010;
}
.codertrust-nav::-webkit-scrollbar-corner{
	background-color:#000;
}

.codertrust-main-nav {
	margin-bottom: 30px;
	width: 100%;
}
.codertrust-main-nav li {
	display: block;
}
.codertrust-main-nav li a {
	display: block;
	padding: 8px 20px;
	color: #101010;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	border-bottom: 1px solid #dcdcdc;
	font-size: 13px;
	font-weight: bold;
}
.codertrust-main-nav li:first-child a{
	border-top: 1px solid #dcdcdc;
}
.codertrust-main-nav li a:hover{
	border-color: #4e4e4e;
	color: #fff;
	background: #4e4e4e;
}
.codertrust-main-nav li a.codertrust-active{
	border-color: #101010;
	color: #fff;
	background: #101010;
}

.codertrust-columns {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.codertrust-columns .codertrust-col-2{
	width: 48%;
	margin-right: 4%;
	display: inline-block;
	float: left;
}
.codertrust-columns .codertrust-col-2:nth-child(2n+1){
	clear: both;
}
.codertrust-columns .codertrust-col-2:nth-child(2n+2){
	margin-right: 0;
}

.codertrust-copyright{
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.codertrust-copyright *{
	font-size: 10px;
}
.codertrust-copyright a{
	color: #3454fb;
}
.section-content {
	padding-bottom: 60px;
}
.codertrust-content {
	padding-left: 290px;
	padding-top: 93px;
	padding-bottom: 200px;
	background: #eceaea;
}
.codertrust-inner-content {
	max-width: 900px;
}
.text-logo{
	font-size: 60px;
}
.tagline {
	font-size: 16px;
}
.tab-me {
	margin-top: 0;
}
.tab-me a{
	display: block;
	padding: 9px 20px;
	background: #101010;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	color: #dddddd;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.tab-me a span {
	float: right;
	font-size: 11px;
	margin-top: 3px;
	color: inherit;
}
.tab-me a:hover {
	color: #737373;
}
.codertrust-section-header{
	margin-bottom: 30px;
}
.codertrust-section-content ul,
.codertrust-section-content ol{
	padding-left: 20px;
	margin-bottom: 20px;
}
.codertrust-section-content ul li {
	margin-bottom: 7px;
	position: relative;
	list-style-type: square;
	line-height: 1.6;
}
.codertrust-section-content ol li{
	margin-bottom: 2px;
	list-style: decimal;
}
.codertrust-section-content p{
	margin-bottom: 20px;
}
.codertrust-content section {
	padding: 20px;
	border: 1px solid #101010;
	background: #eceaeadd;
}
.codertrust-content section.active {
	display: none;
}
.codertrust-section-content {
	font-size: 16px;
}
.codertrust-section-content p{
	font-size: 16px;
}
.codertrust-section-content p.small {
	font-size: 12px;
	color: #888;
	text-align: center;
	margin-bottom: 5px;
}
.codertrust-section-content h2{
	font-size: 32px;
	line-height: 1.2;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
	margin-bottom: 24px;
}
.codertrust-section-content h3{
	font-size: 26px;
	line-height: 1.2;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
	margin-bottom: 24px;
}
.codertrust-section-content h4{
	font-size: 22px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
	margin-bottom: 24px;
}

.install_label {
	background: #13459a;
	color: #fff;
	padding: 5px 10px 3px;
	margin: 3px 3px 3px 0;
	display: inline-block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 1;
}
ul.no-style {
	padding-left: 20px;
}
ul.no-style > li {
	list-style: none;
}
.images{
	margin-bottom: 20px;
}
